<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=8">	
<link rel="stylesheet" type="text/css" href="../../public/stylesheets/index_4.css" media="all">
</head>
<body>
		<form id="UserAlbumUpload" name="UserAlbumUpload" action="http://v.tjrjzx.com/Handle/Upload/MsgPicUploadNew.asp" method="post" enctype="multipart/form-data">
			<a id="BTa" title="上传照片" href="javascript://;" style="background: transparent url('uploadpic.png') no-repeat scroll center center; float: left; width: 34px; height: 34px; line-height: 34px; border: medium none; overflow: hidden;"><label for="filedata" onclick="javascript:var isIE=document.all &amp;&amp; window.external;if(!isIE){document.getElementById('filedata').click();this.focus();return false;}" style="text-indent: -999px; width: 34px; height: 34px; display: inline-block; overflow: hidden;">上传照片</label></a>
			<input id="filedata" name="filedata" onchange="document.getElementById('BTa').focus();document.UserAlbumUpload.submit();" style="width: 0px; margin-top: -34px;" contenteditable="false" type="file">
		</form>	
</body>
</html>
