<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="IE=8">		
		<meta content="edge" http-equiv="X-UA-Compatible">
		<meta content="" name="keywords">
		<meta content="VV语音直播系统" name="description">
		<meta content="all" name="robots">
		<script language="javascript" type="text/javascript" src="../../public/js/jquery-1.9.1.js"></script>
<link rel="stylesheet" type="text/css" href="../../public/stylesheets/index_8.css" media="all">
</head>
<body class="">
		<div class="pop">
			<a id="m_close" class="dialog_closes" href="javascript:void(0)" onclick="window.parent.QQKFs.Hide();"></a>
			<div class="qqs">
				<a href="javascript:void(0)" class="PopReg" onclick="window.parent.Reg.Show();window.parent.QQKFs.Hide();"></a>
				<a href="javascript:void(0)" class="PopRegs" onclick="window.parent.Login.Show();window.parent.QQKFs.Hide();"></a>
			</div>
		</div>
	
</body>
</html>
